@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Shadows Into Light', cursive;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d14141;
    color: #fff;
}

main{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

h1, h3{
    text-align: center;
}

hr{
    font-weight: bold;
    height: 3px;
    background: #fff;
    margin-bottom: 10px;
}

.box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.box button{
    width: 100px;
    height: 100px;
    margin: 5px;
    cursor: pointer;
    font-size: 50px;
    background-color: #0000001e;
    border: none;
    transition: 1s;
}

.box button:hover{
    background-color: #fdfb77;
}


.hidden-btn{
    width: 60%;
    height: 45px;
    font-size: 1.5rem;
    margin-left: 20%;
    background-color: #fdfb77;
    color: #000;
    text-transform: uppercase;
    border-radius: 10px;
    border: none;
    transition: 2s;
}

.hidden-btn:hover{
    background-color: #d3d145;
}